In [80]:
#Import Python Libraries
import numpy as np
import pandas as pd

In [81]:
#1. อ่านไฟล์ข้อมูลชื่อ flights.csv (อยู่บน facebook กลุ่่มวิชา)

In [82]:
flights = pd.read_csv("C:/Users/User/Desktop/DA/flights.csv")

In [83]:
#2. แสดงผล 10 แถวแรก

In [84]:
flights.head(10)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
0,2013,1,1,517.0,2.0,830.0,11.0,UA,N14228,1545,EWR,IAH,227.0,1400,5.0,17.0
1,2013,1,1,533.0,4.0,850.0,20.0,UA,N24211,1714,LGA,IAH,227.0,1416,5.0,33.0
2,2013,1,1,542.0,2.0,923.0,33.0,AA,N619AA,1141,JFK,MIA,160.0,1089,5.0,42.0
3,2013,1,1,554.0,-6.0,812.0,-25.0,DL,N668DN,461,LGA,ATL,116.0,762,5.0,54.0
4,2013,1,1,554.0,-4.0,740.0,12.0,UA,N39463,1696,EWR,ORD,150.0,719,5.0,54.0
5,2013,1,1,558.0,-2.0,753.0,8.0,AA,N3ALAA,301,LGA,ORD,138.0,733,5.0,58.0
6,2013,1,1,558.0,-2.0,924.0,7.0,UA,N29129,194,JFK,LAX,345.0,2475,5.0,58.0
7,2013,1,1,558.0,-2.0,923.0,-14.0,UA,N53441,1124,EWR,SFO,361.0,2565,5.0,58.0
8,2013,1,1,559.0,-1.0,941.0,31.0,AA,N3DUAA,707,LGA,DFW,257.0,1389,5.0,59.0
9,2013,1,1,559.0,-1.0,854.0,-8.0,UA,N76515,1187,EWR,LAS,337.0,2227,5.0,59.0

In [85]:
#3. ข้อมูลที่อ่านมาได้มีจำนวนแถวและคอลัมน์เท่าไร

In [86]:
flights.shape

(160754, 16)

In [87]:
#4. แสดงผล attribute name ของ distance hour minute ตั้งแต่ แถวที่ 50 ไปอีก 20 แถว

In [88]:
flights[['distance', 'hour', 'minute']][50:70]

    distance  hour  minute
50      1605   7.0    27.0
51      1416   7.0    28.0
52       937   7.0    32.0
53       733   7.0    39.0
54      1400   7.0    39.0
55      2475   7.0    43.0
56      2422   7.0    43.0
57      2586   7.0    45.0
58      2565   7.0    46.0
59       950   7.0    52.0
60      1620   7.0    52.0
61       544   7.0    52.0
62      1096   7.0    53.0
63       762   7.0    54.0
64      1089   7.0    59.0
65      1020   8.0     0.0
66       187   8.0     3.0
67      2586   8.0     3.0
68       944   8.0     4.0
69       760   8.0     7.0

In [89]:
#5. แสดงผลเฉพาะ attribute name ชื่อ flight

In [90]:
flights.flight

0         1545
1         1714
2         1141
3          461
4         1696
          ...
160749     475
160750    2363
160751     185
160752     523
160753     471
Name: flight, Length: 160754, dtype: int64

In [91]:
#6.แสดงผลสถิติแยกตามชื่อสนามบินที่เครื่องบินออก (origin)

In [92]:
flights['origin'].describe()

count     160754
unique         3
top          LGA
freq       59706
Name: origin, dtype: object

In [93]:
flights.groupby('origin').describe()

           year                                                         month  \
          count    mean  std     min     25%     50%     75%     max    count
origin
EWR     59035.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  59035.0
JFK     42013.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  42013.0
LGA     59706.0  2013.0  0.0  2013.0  2013.0  2013.0  2013.0  2013.0  59706.0

                  ...  hour         minute                                   \
            mean  ...   75%   max    count       mean        std  min   25%
origin            ...
EWR     6.572237  ...  17.0  23.0  58385.0  30.162370  17.758978  0.0  15.0
JFK     6.558089  ...  17.0  24.0  41702.0  31.851158  18.625436  0.0  16.0
LGA     6.515308  ...  16.0  24.0  58331.0  34.999074  19.307334  0.0  18.0


         50%   75%   max
origin
EWR     29.0  46.0  59.0
JFK     31.0  51.0  59.0
LGA     39.0  53.0  59.0

[3 rows x 96 columns]

In [94]:
#7. แสดงผลค่าเฉลี่ยของระยะทางที่บิน (distance)

In [95]:
flights['distance'].mean()

1282.4454197096184

In [96]:
#8. จากข้อ 7 ให้แสดงผลค่าเฉลี่ยของระยะทางที่บิน (distance) แยกตามกลุ่มเที่ยวบิน (flight)

In [97]:
flights.groupby('flight')['distance'].mean()

flight
1       2396.989924
3       2451.590786
4       1248.033445
5       2402.000000
6       1990.000000
           ...
2594    1587.000000
2595    2454.000000
2596    2248.000000
2598    1089.000000
2599     187.000000
Name: distance, Length: 1820, dtype: float64

In [98]:
#9. ผลที่ได้จากข้อ 6 ให้พิมพ์ค่าเฉลี่ยของการออกไม่ตรงเวลาของสายการบิน (hour)

In [99]:
flights.groupby('origin')['hour'].mean()

origin
EWR    13.028141
JFK    13.217208
LGA    12.375444
Name: hour, dtype: float64

In [100]:
#10. ต้องการแสดงผลเฉพาะสนามบินปลายทางที่ชื่อ LAS

In [101]:
flights[flights['dest']=='LAS'].head()

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,tailnum,flight,origin,dest,air_time,distance,hour,minute
9,2013,1,1,559.0,-1.0,854.0,-8.0,UA,N76515,1187,EWR,LAS,337.0,2227,5.0,59.0
130,2013,1,1,1011.0,-4.0,1246.0,-21.0,DL,N399DA,1529,JFK,LAS,320.0,2248,10.0,11.0
147,2013,1,1,1059.0,6.0,1342.0,-9.0,UA,N451UA,369,EWR,LAS,325.0,2227,10.0,59.0
255,2013,1,1,1539.0,2.0,1854.0,35.0,UA,N14250,1222,EWR,LAS,342.0,2227,15.0,39.0
265,2013,1,1,1559.0,-6.0,1844.0,-28.0,DL,N374DA,91,JFK,LAS,309.0,2248,15.0,59.0

In [102]:
#11. เพิ่มเติม ต้องการแสดงผลเฉพาะ attribute dep_delay และ arr_delay ของสนามบินปลายทางที่ชื่อ LAS

In [103]:
flights[flights['dest']=='LAS'][['dep_delay','arr_delay']] 
# flights[flights['dest']=='LAS']['dep_delay'],['arr_delay']

        dep_delay  arr_delay
9            -1.0       -8.0
130          -4.0      -21.0
147           6.0       -9.0
255           2.0       35.0
265          -6.0      -28.0
...           ...        ...
160623       -4.0      -39.0
160631       -1.0      -30.0
160674       12.0      -28.0
160707        0.0      -34.0
160716       -3.0      -39.0

[4322 rows x 2 columns]

In [104]:
#หาค่าเฉลี่ยของ arr_delay

In [105]:
np.mean(flights['arr_delay']).round(3)

#np.mean(flights.arr_delay) or flights['arr_delay'].mean()

2.095